.navlogo{
  height: 50px;
}

.nav-link{
  text-decoration: none;
}

/* styles.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
